@use '../utils/utils' as *;
.grid{
    grid-area: grid;
    border: 1px solid white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(40px,1fr));
    .snake{
        background-color: yellow;
        border-radius: 0.2rem;
    }
    .apple{
        background-color: red;
        border-radius: 1rem;
    }
}