@use '../utils/utils' as *;
.grid{
    grid-area: grid;
    border: 1px solid white;
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    z-index: 0;
    .snake{
        background-color: yellow;
        border-radius: 0.2rem;
    }
    .apple{
        background-color: red;
        border-radius: 1rem;
    }
    .gameinformation{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.678);
        @include flex-gap(2rem,column,center,center);
        z-index: 1;
        .reason{
            font-size: var(--space-smd);
        }
        .gameovertext{
            font-size: var(--space-md);
        }
        #btn{
            font-family: inherit;
            font-size: var(--space-smd);
            padding: var(--space-xs);
            border-radius: var(--space-xs);
            cursor:pointer;
            font-weight: 800;
            
            &:active{
                transform: scale(0.9);
                
            }
            &:hover{
                color: white;
                background-color: rgba(0, 0, 0, 0.521);
                border: 1px solid white;
            }
        }
  
    }
    #hidden{
       
    }
}
