:root {
    //colors
    --body-clr: black;
    --info-clr2: white;
    --border-clr: lightgreen;
    --info-clr: lightgreen;
    --snake-clr: yellow;
    --prey-clr: red;
    --user-typing-clr: black;
    //sizing
    --body-padding: 0.4rem;
    --main-padding: 0.4rem;
    --section-padding: 0.2rem;
    --space-xn: 0.2rem;
    --space-xs: 0.4rem;
    --space-xss: 0.9rem;
    --space-s: 1rem;
    --space-smd: 1.2rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    //extras
    --blur:15px;
}